# AI: The Microsoft Arms Race - How Far Will They Push the Boundaries?

** Warnings: I am not a C.F.A. (Certfied Financial Analyst). This document is for pure speculation and learnings.

## Background Information - Stock Market Trends

In recent news, Microsoft and Alphabet both reported substantial increases in cloud revenue for the December quarter, surpassing Wall Street estimates. This growth was largely attributed to customer interest in new AI features and services. However, these gains were tempered by the considerable costs associated with developing AI technologies, including investments in servers, data centers, and research. Microsoft's stock fell by 2.7%, and Alphabet's shares dropped by 7.5%, contributing to a broader decline in tech stocks that also affected Apple, Meta, and Amazon. The stock drop erased about $140 billion and $80 billion in market value for Google and Microsoft, respectively​​.

Furthermore, AI-related companies collectively lost $190 billion in market capitalization following the earnings reports of Microsoft, Alphabet, and Advanced Micro Devices (AMD). This sharp decline underscored the high expectations investors had placed on these companies, driven by the promise of AI technology transforming the corporate landscape. Despite this setback, both Microsoft and Alphabet had shown robust growth in their cloud services, attributed to the integration of new AI features. However, the significant investment required to support AI initiatives, such as data center expansion, has raised concerns about the costs of competing in the AI space​​.

These developments reflect the volatile nature of the AI sector, where rapid growth and technological advancements are met with significant financial investments and high expectations from investors. The industry giants continue to navigate these challenges, emphasizing the importance of AI technology in their future growth strategies while managing the substantial costs associated with its development and implementation.

## Motivation
AI has been making headlines recently with a noticeable surge in tech stocks, particularly those related to AI. The industry giants are no strangers to this trend. However, our focus is on Microsoft's financial performance in the upcoming days. Companies like NVIDA have been surely reaping the benefits.

## Business Problem 
Create an effective forecasting that can be used to show stakeholders in a matter that is easy to understand.

In [1]:
# Installation libraries
#pip install yfinance --upgrade --no-cache-dir

In [2]:
import yfinance as yf

tickers = yf.Tickers('msft')
# access each ticker
tickers.tickers['MSFT'].info
tickers.tickers['MSFT'].history(period="6mo")
tickers.tickers['MSFT'].actions

                           Dividends  Stock Splits
Date
2023-11-15 00:00:00-05:00       0.75           0.0
2024-02-14 00:00:00-05:00       0.75           0.0

In [3]:
import yfinance as yf

msft = yf.Ticker("MSFT")

# get all stock info
msft.info

# get historical market data
hist = msft.history(period="6mo")

# show meta information about the history (requires history() to be called first)
msft.history_metadata

# show actions (dividends, splits, capital gains)
msft.actions
msft.dividends
msft.splits
msft.capital_gains  # only for mutual funds & etfs

# show share count
msft.get_shares_full(start="2022-01-01", end=None)

# show financials:
# - income statement
msft.income_stmt
msft.quarterly_income_stmt
# - balance sheet
msft.balance_sheet
msft.quarterly_balance_sheet
# - cash flow statement
msft.cashflow
msft.quarterly_cashflow
# see `Ticker.get_income_stmt()` for more options

# show holders
msft.major_holders
msft.institutional_holders
msft.mutualfund_holders
msft.insider_transactions
msft.insider_purchases
msft.insider_roster_holders

# show recommendations
msft.recommendations
msft.recommendations_summary
msft.upgrades_downgrades

# Show future and historic earnings dates, returns at most next 4 quarters and last 8 quarters by default. 
# Note: If more are needed use msft.get_earnings_dates(limit=XX) with increased limit argument.
msft.earnings_dates

# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

# show options expirations
msft.options

# show news
msft.news

# get option chain for specific expiration
opt = msft.option_chain('2024-03-01')
# data available via: opt.calls, opt.puts

In [4]:
# Option - calls
opt.calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,MSFT240301C00200000,2024-02-20 20:15:58+00:00,200.0,201.70,209.45,212.05,0.0,0.0,1,0,2.513676,True,REGULAR,USD
1,MSFT240301C00210000,2024-02-14 20:41:06+00:00,210.0,199.00,199.50,202.10,0.0,0.0,1,1,2.394535,True,REGULAR,USD
2,MSFT240301C00220000,2024-02-02 17:15:18+00:00,220.0,190.15,189.50,191.90,0.0,0.0,1,0,2.168950,True,REGULAR,USD
3,MSFT240301C00230000,2024-02-12 15:32:39+00:00,230.0,187.55,179.50,182.00,0.0,0.0,3,0,2.064458,True,REGULAR,USD
4,MSFT240301C00245000,2024-02-14 15:57:12+00:00,245.0,161.43,164.50,167.00,0.0,0.0,1,1,1.861329,True,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,MSFT240301C00505000,2024-02-23 20:47:35+00:00,505.0,0.01,0.00,0.01,0.0,0.0,11,238,0.500005,False,REGULAR,USD
61,MSFT240301C00510000,2024-02-15 14:32:26+00:00,510.0,0.01,0.00,0.01,0.0,0.0,1,87,0.531255,False,REGULAR,USD
62,MSFT240301C00515000,2024-02-21 16:42:59+00:00,515.0,0.01,0.00,0.01,0.0,0.0,5,344,0.546880,False,REGULAR,USD
63,MSFT240301C00520000,2024-02-23 20:48:15+00:00,520.0,0.01,0.00,0.01,0.0,0.0,1,71,0.562504,False,REGULAR,USD
64,MSFT240301C00525000,2024-02-23 18:11:01+00:00,525.0,0.01,0.00,0.01,0.0,0.0,2,304,0.593754,False,REGULAR,USD

In [5]:
# Option - Puts
opt.puts

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,MSFT240301P00200000,2024-02-16 20:25:52+00:00,200.0,0.01,0.00,0.01,0.0,0.0,2.0,7,1.625002,False,REGULAR,USD
1,MSFT240301P00220000,2024-01-17 16:56:17+00:00,220.0,0.05,0.00,0.01,0.0,0.0,NaN,1,1.437503,False,REGULAR,USD
2,MSFT240301P00240000,2024-02-06 15:19:45+00:00,240.0,0.01,0.00,0.01,0.0,0.0,20.0,30,1.250004,False,REGULAR,USD
3,MSFT240301P00245000,2024-02-20 14:44:38+00:00,245.0,0.01,0.00,0.01,0.0,0.0,1.0,4,1.187504,False,REGULAR,USD
4,MSFT240301P00250000,2024-02-16 15:01:07+00:00,250.0,0.01,0.00,0.01,0.0,0.0,20.0,40,1.156254,False,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,MSFT240301P00470000,2024-02-09 18:15:56+00:00,470.0,50.75,58.25,60.75,0.0,0.0,NaN,0,0.695560,True,REGULAR,USD
64,MSFT240301P00480000,2024-01-22 17:11:47+00:00,480.0,83.05,79.95,81.95,0.0,0.0,NaN,0,1.580813,True,REGULAR,USD
65,MSFT240301P00505000,2024-02-09 17:26:32+00:00,505.0,86.15,93.20,95.75,0.0,0.0,NaN,0,0.965821,True,REGULAR,USD
66,MSFT240301P00515000,2024-01-18 14:31:16+00:00,515.0,122.05,110.15,112.10,0.0,0.0,1.0,0,1.608767,True,REGULAR,USD
67,MSFT240301P00525000,2024-02-09 19:56:33+00:00,525.0,105.58,113.20,115.75,0.0,0.0,3.0,0,1.104985,True,REGULAR,USD

In [6]:
#quarter - income statement
msft.quarterly_income_stmt

,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31
Tax Effect Of Unusual Items,-29160000.0,-20700000.0,20855987.382214,30780000.0,-44080000.0
Tax Rate For Calcs,0.18,0.18,0.187892,0.19,0.19
Normalized EBITDA,33556000000.0,31845000000.0,28972000000.0,26556000000.0,24709000000.0
Total Unusual Items,-162000000.0,-115000000.0,111000000.0,162000000.0,-232000000.0
Total Unusual Items Excluding Goodwill,-162000000.0,-115000000.0,111000000.0,162000000.0,-232000000.0
Net Income From Continuing Operation Net Minority Interest,21870000000.0,22291000000.0,20081000000.0,18299000000.0,16425000000.0
Reconciled Depreciation,5959000000.0,3921000000.0,3874000000.0,3549000000.0,3648000000.0
Reconciled Cost Of Revenue,19623000000.0,16302000000.0,16795000000.0,16128000000.0,17488000000.0
EBITDA,33394000000.0,31730000000.0,29083000000.0,26718000000.0,24477000000.0
EBIT,27435000000.0,27809000000.0,25209000000.0,23169000000.0,20829000000.0
Net Interest Income,-175000000.0,641000000.0,423000000.0,252000000.0,210000000.0
Interest Expense,909000000.0,525000000.0,482000000.0,496000000.0,490000000.0
Interest Income,734000000.0,1166000000.0,905000000.0,748000000.0,700000000.0
Normalized Income,22002840000.0,22385300000.0,19990855987.382214,18167780000.0,16612920000.0
Net Income From Continuing And Discontinued Operation,21870000000.0,22291000000.0,20081000000.0,18299000000.0,16425000000.0
Total Expenses,34988000000.0,29622000000.0,31935000000.0,30505000000.0,32348000000.0
Total Operating Income As Reported,27032000000.0,26895000000.0,24254000000.0,22352000000.0,20399000000.0
Diluted Average Shares,7468000000.0,7462000000.0,7467000000.0,7464000000.0,7473000000.0
Basic Average Shares,7432000000.0,7429000000.0,7434000000.0,7441000000.0,7451000000.0
Diluted EPS,2.93,2.99,2.69,2.45,2.2
Basic EPS,2.94,3.0,2.7,2.46,2.2
Diluted NI Availto Com Stockholders,21870000000.0,22291000000.0,20081000000.0,18299000000.0,16425000000.0
Net Income Common Stockholders,21870000000.0,22291000000.0,20081000000.0,18299000000.0,16425000000.0
Net Income,21870000000.0,22291000000.0,20081000000.0,18299000000.0,16425000000.0
Net Income Including Noncontrolling Interests,21870000000.0,22291000000.0,20081000000.0,18299000000.0,16425000000.0
Net Income Continuous Operations,21870000000.0,22291000000.0,20081000000.0,18299000000.0,16425000000.0
Tax Provision,4656000000.0,4993000000.0,4646000000.0,4374000000.0,3914000000.0
Pretax Income,26526000000.0,27284000000.0,24727000000.0,22673000000.0,20339000000.0
Other Income Expense,-331000000.0,-252000000.0,50000000.0,69000000.0,-270000000.0
Other Non Operating Income Expenses,-169000000.0,-137000000.0,-61000000.0,-93000000.0,-38000000.0
Special Income Charges,-161000000.0,NaN,NaN,NaN,-4000000.0
Write Off,161000000.0,NaN,NaN,NaN,4000000.0
Gain On Sale Of Security,-1000000.0,-115000000.0,141000000.0,162000000.0,-228000000.0
Net Non Operating Interest Income Expense,-175000000.0,641000000.0,423000000.0,252000000.0,210000000.0
Interest Expense Non Operating,909000000.0,525000000.0,482000000.0,496000000.0,490000000.0
Interest Income Non Operating,734000000.0,1166000000.0,905000000.0,748000000.0,700000000.0
Operating Income,27032000000.0,26895000000.0,24254000000.0,22352000000.0,20399000000.0
Operating Expense,15365000000.0,13320000000.0,15140000000.0,14377000000.0,14860000000.0
Research And Development,7142000000.0,6659000000.0,6739000000.0,6984000000.0,6844000000.0
Selling General And Administration,8223000000.0,6661000000.0,8401000000.0,7393000000.0,8016000000.0
Selling And Marketing Expense,6246000000.0,5187000000.0,6204000000.0,5750000000.0,5679000000.0
General And Administrative Expense,1977000000.0,1474000000.0,2197000000.0,1643000000.0,2337000000.0
Other Gand A,1977000000.0,1474000000.0,2197000000.0,1643000000.0,2337000000.0
Gross Profit,42397000000.0,40215000000.0,39394000000.0,36729000000.0,35259000000.0
Cost Of Revenue,19623000000.0,16302000000.0,16795000000.0,16128000000.0,17488000000.0
Total Revenue,62020000000.0,56517000000.0,56189000000.0,52857000000.0,52747000000.0
Operating Revenue,62020000000.0,56517000000.0,56189000000.0,52857000000.0,52747000000.0

## Quarterly Results: Q1 2023 (2023-03-31) to Q1 2024 (2023-12-31)


| Key Metrics    | Description |
| -------- | ------- |
| Revenue and Gross Profit  | - shown a trend of growth from $52.747 billion in Q1 2023 to $62.02 billion in Q1 2024 and gross profit has increased from $35.259 billion to $42.397 billion in the same period, suggesting improvements in cost management  |
| Operating Expenses and Income | - R&D has experienced some fluctations and operating income increased from growth from $20.399 billion to $27.032 billion, reflecting effective cost control and operational efficiency   |
| Net Income and EPS    | - has increased from $16.425 billion in Q1 2023 to $21.87 billion in Q1 2024, showing strong profitability  and diluted EPS: grew from $2.2 to $2.93 showing some increase for profitability  |
| Unusual Items and Tax Effects | - have varied significantly, indicating one-time events or non-recurring charges that have impacted the financial results    |
| Interest Income/Expenses and Tax Rate    | - has shown some variability, impacting the company's net earnings. The management of interest income and expense reflects the company's financial structure and debt management strategy  |

### Quick Overview: Influenced by the Intelligent Investor
The increase in net income and EPS over the quarters is a positive sign for investors, indicating an improving financial performance and potentially higher shareholder value. However, the impact of unusual items and their management should be closely examined for a comprehensive understanding of the company's financial strategies and their sustainability.

Incorporating insights from "The Intelligent Investor," it would be prudent to analyze these financial metrics within the context of the company's overall market position, competitive landscape, and the broader economic environment. Understanding the company's margin of safety, as well as its potential for long-term growth, is crucial for making informed investment decisions.

In [ ]:
 ## focus for specific ticker